h1 {
    margin-bottom: 0px;
}

.right { float: right; }
.left { float:left; }

.chat {
    overfloy-x: hidden;
    overflow-y: scroll;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 85%;
}

input {
    width: 100%;
}
